<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Web scrapper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
            </li>
        </ul>
    </div>
</nav>
</div>
</div>
    <div>
        {% block content %}
            <div class="container">
                <div class="row">
                    {% for object in articles %}
                        <div class="card m-5" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ object.title  }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ object.date }}</h6>
                                <a href="article/most_used_words/{{ object.id }}" class="link m-3" >Most used words</a>
                                <a href="article/content/{{ object.id }}" class="link m-3">Content</a>
                                {% if object.comments_count > 0 %}
                                    <a href="/article/comments/{{ object.id  }}" class="link m-3">Comments({{ object.comments_count }})</a>
                                {% endif %}

                                {% if not object.comments_count %}
                                    <a href="/article/comments/{{ object.id  }}" class="link btn disabled" class="m-3">Comments({{ 0 }})</a>
                                {% endif %}
                                <a href="/article/{{ object.id  }}" class="btn btn-primary btn-lg active m-3">Full article</a> {% if not forloop.last %}{% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
                <div class="col-4">
                    {% if articles.has_other_pages %}
                        <ul class="pagination ">
                            {% if articles.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ articles.previous_page_number }}">Previous</a></li>
                            {% else %}
                                <li class="disabled page-item"> <span class="page-link">Previous</span></li>
                            {% endif %}

                            {% for i in articles.paginator.page_range %}
                                {% if articles.number == i %}
                                    <li class="page-item active">
                                        <a class="page-link" href="#">{{ i }} <span class="sr-only"></span></a>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a> </li>
                                {% endif %}
                            {% endfor %}

                            {% if articles.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ articles.next_page_number }}">Next</a></li>
                            {% else %}
                                <li class="disabled page-item"> <span class="page-link">Next</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
         </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>


</body>
</html>